*[b-1ybdujt6m1] {

    font-family: Roboto;

}

h3[b-1ybdujt6m1] {

    color: #C17667;
    font-weight: bold;

}

p[b-1ybdujt6m1] {

    color: #34341C;

}

.GraphContainer[b-1ybdujt6m1] {
    
    background-color: #EAE1DF;
    border-radius: 12px;
    padding: 2vh;
    margin-bottom: 4vh;

}