.navbar-toggler[b-938lj5ft15] {
    background-color: #519872;
}

.top-row[b-938lj5ft15] {
    height: 3.5rem;
    background-color: #519872;
}

.navbar-brand[b-938lj5ft15] {
    font-size: 1.1rem;
    font-family: Roboto;
}

.oi[b-938lj5ft15] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-938lj5ft15] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-938lj5ft15] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-938lj5ft15] {
        padding-bottom: 1rem;
    }

    .nav-item[b-938lj5ft15]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-938lj5ft15]  a.active {
            background-color: rgba(81,152,114,0.25);
            color: white;
        }

        .nav-item[b-938lj5ft15]  a:hover {
            background-color: rgba(81,152,114,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-938lj5ft15] {
        display: none;
    }

    .collapse[b-938lj5ft15] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-938lj5ft15] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
