@page "/"

<link href="https://fonts.googleapis.com/css2?family=Pridi&family=Roboto&display=swap" rel="stylesheet">

<PageTitle>Home | Demeter</PageTitle>

<h1>Welcome Back!</h1>
<p>Here's the current state of your plant(s):</p>

<PlantOverview _plantName="Kenia Palm" _plantImagePath="/kenia_palm.jpg"/>
<PlantOverview _plantName="Sample Plant 2" _plantImagePath="/PXL_20230312_153455385.jpg" _currentMoistureLevel="123" _currentLightLevel="123" />
<PlantOverview _plantName="Sample Plant 3" _plantImagePath="/PXL_20230312_153534914.MP.jpg" _currentMoistureLevel="298" _currentLightLevel="329" />
<PlantOverview _plantName="Sample Plant 4" _plantImagePath="/PXL_20230312_153547692.jpg" _currentMoistureLevel="382" _currentLightLevel="391" />
